.trending-container {
  position: relative;
  background-color: #111;
  padding: 24px 40px;
}

.trending-title {
  font-size: 18px;
  font-weight: bold;
  color: #facc15;
  margin-bottom: 14px;
  border-bottom: 2px solid #e91e63;
  padding-bottom: 6px;
}

.trending-grid {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  padding: 8px 0 12px 0;
  padding-bottom: 4px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.trending-grid::-webkit-scrollbar {
  display: none;
}

.anime-card.trending-card {
  transition: tranform 0.3s ease;
  will-change: transform;
}

.anime-card.trending-card:hover {
  transform: scale(1.05);
  transition: tranform 0.3s ease;
}

.scroll-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 53%;
  transform: translateY(-50%);
  gap: 8px;
  z-index: 10;
}

.scroll-btn {
  width: 25px;
  height: 100px;
  background-color: #444;
  border: 1px solid #242424;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.scroll-btn:hover {
  background-color: #333;
}
